@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-img {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png');
    background-size: cover;
    height: 100vh;

}

.card-m {
    background-color: #f6c56e;
    text-align: left;
    color: #323f4b;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;

}

.button {
    background-color: #ffffff;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    border-width: 0px;

}