@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-nav-container {
    background-color: #575555;
}

.bg-container {
    background-color: #191a1d;
    background-size: cover;
    height: 100vh;
}

.logo-align {
    font-size: 32px;
    border: 2px solid #4b6cc1;
    padding: 2px 10px 2px 10px;
}

.nav-text {
    color: white;

}

.img-main-align {
    width: 30%;
    border-radius: 100px;
}

.header {
    color: white;
}

.name-tag {
    color: #4b6cc1;
}

.paragraph {
    color: #9aa5b1;
    font-size: 1.5em;
}

.img-md-align {
    width: 300px;
    border-radius: 100px;
}